QMainWindow {
    background-color: #2c3e50;
}

QWidget {
    color: #ecf0f1;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

QLineEdit, QComboBox, QDateEdit {
    background-color: #34495e;
    border: 1px solid #7f8c8d;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

QPushButton {
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #2980b9;
}

QPushButton#delete_btn {
    background-color: #e67e22;
}

QTableWidget {
    background-color: #34495e;
    gridline-color: #7f8c8d;
    border: none;
}

QHeaderView::section {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    border: 1px solid #7f8c8d;
}

QProgressBar {
    border: 2px solid #7f8c8d;
    border-radius: 5px;
    text-align: center;
    height: 20px;
}

QProgressBar::chunk {
    background-color: #2ecc71;
}